* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

main {
  width: 100%;
}

.container {
  display: flex;
  width: 100%;
  background-color: #1B1B1B;
  color: #F5FFFA;
}

.sidebar {
  background: #111111;
  color: #F5FFFA;
  height: 100vh;
  transition: all 0.25s;
}

.top_section {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.logo {
  width: 5rem;
}

.bars {
  display: flex;
  font-size: 1.5rem;
  transition: all 0.5s;
}

.bars:hover {
  margin-bottom: 0.5rem;
  color: #F64A8A;
  transition: all 0.5s;
}

.link {
  display: flex;
  color: #F5FFFA;
  padding: 0.75rem 1rem;
  gap: 1rem;
  transition: all 0.5s;
}

.link:hover {
  background: black;
  color: #F64A8A;
  transition: all 0.5s;
}

.active {
  background: black;
  color: #FFA6C9;
}

.icon,
.link_text {
  font-size: 1.25rem;
}

.credit {
  padding-top: 1rem;
  font-size: 1rem;
}

.logo {
  color: #F5FFFA;
}
